{{!-- Sign In Page --}}
<div class="sign-in-container">
    <h1>Sign In</h1>
    <form id="signin-form" method="POST" action="/signinuser">
        <div class="sign-in-input-container">
            <label for="userId">User ID:</label>
            <input type="text" id="userId" name="userId" required>
        </div>
        <div class="sign-in-input-container">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" id="submit_button" name="submit_button">Sign In</button>
    </form>
    <br>
    <a href="/signupuser">Click here to sign up!</a>

    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
</div>

