<div class="sign-in-container">
    <h1>Sign Up</h1>
    <form id="signup-form" method="POST" action="/signupuser">
        <div class="sign-in-input-container">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="sign-in-input-container">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>  
        </div>
        <div class="sign-in-input-container">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="sign-in-input-container">
            <label for="userId">User ID:</label>
            <input type="text" id="userId" name="userId" required>
        </div>
        <div class="sign-in-input-container">
             <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="sign-in-input-container">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit" id="submitButton" name="submitButton">Sign Up</button>
    </form>
    <br>
    <a href="/signinuser">Already have an account? Click here to sign in!</a>

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
</div>
